@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
	--font-heading: 'Manrope', sans-serif;
	--font-body: 'Inter', sans-serif;
}

:root {
	font-family: 'Inter', sans-serif;
	color: #263B4D;
	background: #F7FAFA;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: 'Manrope', sans-serif;
}